@model AgendaDomain.Entities.Usuario

@{
    ViewBag.Title = "Exclusão de dados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        Dados do AMIGO a ser removido
    </div>

    <div class="panel-body">
        <div class="form-group">
            @Html.DisplayNameFor(model => model.Nome)
            <br />
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-user"></i>
                </span>
                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
            </div>
        </div>

        <div class="form-group">
            @Html.DisplayNameFor(model => model.SobreNome)
            <br />
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-user"></i>
                </span>
                @Html.EditorFor(model => model.SobreNome, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
            </div>
        </div>

        <div class="form-group">
            @Html.DisplayNameFor(model => model.Email)
            <br />
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-envelope"></i>
                </span>
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
            </div>
        </div>

        <div class="form-group">
            @Html.DisplayNameFor(model => model.Nascimento)
            <br />
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-calendar"></i>
                </span>
                @Html.EditorFor(model => model.Nascimento, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
            </div>
        </div>

        <div class="form-group">
            @Html.DisplayNameFor(model => model.ProxAniv)
            <br />
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-calendar"></i>
                </span>
                @Html.EditorFor(model => model.ProxAniv, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
            </div>
        </div>
        <div class="panel-footer panel-info">
            @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <input type="submit" value="Remover AMIGO" class="btn btn-danger" />
        @Html.ActionLink("Retornar para listagem", "Index", null, new { @class = "btn btn-info" })
}
        </div>
    </div>
</div>